<%- include('header') -%>

<h1>RNG Seed test</h1>
<script src="/vendor/seedrandom.min.js"></script>
<div id="test-output"></div>
Key: <input type="text" id="key" value="test">
<button id="state">Get state</button>
<button id="next">Compare 10 numbers</button>
<script src="/rngtest.js"></script>

<%- include('footer') -%>