body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}

input, textarea {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
}

input::placeholder, textarea::placeholder {
    color: #888888;
}

header, footer {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.error {
    color: red
}
.success {
    color: green;
}

#cycle-progress-back {
    background-color: #333333;
    border-radius: 10px;
    height: 20px;
    margin: 20px 0;
    overflow: hidden;
    width: 200px;
}

#cycle-progress-front {
    background-color: #4caf50;
    height: 100%;
}