<%- include('header') -%>

<h1>RNG Seed test</h1>
<script src="/vendor/seedrandom.min.js"></script>
<div id="test-output"></div>
<button id="seed">Get Seed</button>
<button id="next">Gen Next</button>
<script src="/rngtest.js"></script>

<%- include('../footer') -%>