<%- include('header') -%>

<h1>RNG Seed test</h1>
<script src="/vendor/seedrandom.min.js"></script>
<div id="test-output"></div>
<button id="state">Get State</button>
<button id="next">Gen 10 numbers</button>
<button id="server-next">Gen 10 numbers from server</button>
<script src="/rngtest.js"></script>

<%- include('../footer') -%>